.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem 1.25rem;
  width: 100%;
  background-color: var(--color-primary);
  color: var(--text-on-primary);
  font-size: 1rem;
  line-height: 1.5;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease-in-out;
}

.button:hover {
  opacity: 0.9;
}

.button:focus {
  box-shadow: 0 0 0 3px rgba(79, 70, 229, 0.2);
}

.button:active:not(:disabled) {
  opacity: 0.6;
  transition-duration: 0.1s;
}

.button:disabled:not(.button__loading) {
  background-color: var(--border-color);
  color: var(--text-color);
  cursor: not-allowed;
  opacity: 0.6;
}

/* Loading State */
.button__loading {
  position: relative;
  opacity: 0.75;
  cursor: wait;
}

/* Hidden Button */
.button--hidden-content {
  visibility: hidden;
}

/* Loader */
.button--loader {
  position: absolute;
  width: max-content;
  height: max-content;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
