:root {
  /* Typography */
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /* Label Typography */
  --label-large-font: "Roboto", sans-serif;
  --label-large-size: 0.875rem;
  --label-large-line-height: 1.25rem;
  --label-large-tracking: 0.00625rem;

  --label-medium-font: "Roboto", sans-serif;
  --label-medium-size: 0.75rem;
  --label-medium-line-height: 1rem;
  --label-medium-tracking: 0.03125rem;

  --label-small-font: "Roboto", sans-serif;
  --label-small-size: 0.625rem;
  --label-small-line-height: 1rem;
  --label-small-tracking: 0.03125rem;

  /* Body Typography */
  --body-large-font: "Roboto", sans-serif;
  --body-large-size: 1rem;
  --body-large-line-height: 1.5rem;
  --body-large-tracking: 0.03125rem;

  --body-medium-font: "Roboto", sans-serif;
  --body-medium-size: 0.875rem;
  --body-medium-line-height: 1.25rem;
  --body-medium-tracking: 0.015625rem;

  --body-small-font: "Roboto", sans-serif;
  --body-small-size: 0.75rem;
  --body-small-line-height: 1rem;
  --body-small-tracking: 0.025rem;
}

.label-lg {
  font-family: var(--label-large-font);
  font-size: var(--label-large-size);
  line-height: var(--label-large-line-height);
  letter-spacing: var(--label-large-tracking);
}

.label-md {
  font-family: var(--label-medium-font);
  font-size: var(--label-medium-size);
  line-height: var(--label-medium-line-height);
  letter-spacing: var(--label-medium-tracking);
}

.label-sm {
  font-family: var(--label-small-font);
  font-size: var(--label-small-size);
  line-height: var(--label-small-line-height);
  letter-spacing: var(--label-small-tracking);
}

.body-lg {
  font-family: var(--body-large-font);
  font-size: var(--body-large-size);
  line-height: var(--body-large-line-height);
  letter-spacing: var(--body-large-tracking);
}

.body-md {
  font-family: var(--body-medium-font);
  font-size: var(--body-medium-size);
  line-height: var(--body-medium-line-height);
  letter-spacing: var(--body-medium-tracking);
}

.body-sm {
  font-family: var(--body-small-font);
  font-size: var(--body-small-size);
  line-height: var(--body-small-line-height);
  letter-spacing: var(--body-small-tracking);
}
