.label--large {
  font-family: var(--label-large-font);
  font-size: var(--label-large-size);
  line-height: var(--label-large-line-height);
  letter-spacing: var(--label-large-tracking);
}

.label--medium {
  font-family: var(--label-medium-font);
  font-size: var(--label-medium-size);
  line-height: var(--label-medium-line-height);
  letter-spacing: var(--label-medium-tracking);
}

.label--small {
  font-family: var(--label-small-font);
  font-size: var(--label-small-size);
  line-height: var(--label-small-line-height);
  letter-spacing: var(--label-small-tracking);
}

.label {
  color: var(--color-on-surface);
  font-style: normal;
  font-weight: var(--font-weight-medium);
}
